{#
/**
 * @file stripe_payment.html.twig
 * Default theme implementation to present Stripe payment data.
 *
 * This template is used when viewing Stripe payment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stripe_payment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stripe_payment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
