<div class="checkout-complete">
  <div class="checkout-complete__message">
    {{ message }}
  </div>
  <div class="checkout-complete__payment-details">
    <p>You have been charged {{ amount }}.</p>
    <p>The charge will show on your statment as {{ statement_indicator }}.</p>
    <p>Thank you!</p>
  </div>
</div>