<div class="checkout-complete">
  <div class="checkout-complete__message">
    {{ message }}
  </div>
  <div class="checkout-complete__payment-details">
    <p>You have been charged {{ amount }}.</p>
    <p>The charge will show on your statment as {{ statement_indicator }}.</p>
    <p>Thank you!</p>
    <p><a href="/user/{{ user.id }}" class="button">Your Profile</a></p>
    <p><a href="/node/session/add">Submit a Session</a></p>
    <p><a href="/">Home Page</a></p>
  </div>
</div>